/* =========================================================
    2. 戻るボタン
    ========================================================= */

.nav-sites:has(.nav-site.to-parent) {
    margin-bottom: 25px;
}

.nav-site.to-parent {
    display: block !important;
    min-height: auto !important;
    padding: 0 !important;
}

.nav-site.to-parent > a {
    display: flex !important;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;

    border-radius: var(--radius-large);
    text-decoration: none;
    font-size: 95%;
    font-weight: 550;
    box-sizing: border-box;

    width: min(100%, 200px);
}

.nav-site.to-parent {
    justify-content: center;
    margin: 0;
}

.nav-site.to-parent .nav-sites {
    margin-bottom: 1.5rem;
}

.nav-site.to-parent .ui-icon-circle-arrow-n {
    display: none;
}

.nav-site.to-parent .title {
    display: none !important;
}

.nav-site.to-parent a::before {
    content: "戻る";
    display: inline-block;
    font-size: 0.83rem;
    margin-left: 6px;
    vertical-align: middle;
}

.nav-site.to-parent a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.nav-site.to-parent .primary-material-icons {
    font-size: 1rem;
    top: 50%;
    left: 0.8rem;
}

.nav-site.to-parent,
.nav-site.to-parent:focus,
.nav-site.to-parent .primary-material-icons,
.nav-site.to-parent:focus .primary-material-icons,
.nav-site.to-parent a::before,
.nav-site.to-parent:focus  a::before {
    background: var(--primary) !important;
    color: var(--text-on-primary) !important;
    font-weight: 550;
}

.nav-site.to-parent:hover,
.nav-site.to-parent:active,
.nav-site.to-parent:hover .primary-material-icons,
.nav-site.to-parent:active .primary-material-icons,
.nav-site.to-parent:hover a::before,
.nav-site.to-parent:active a::before {
    background: var(--primary-hover) !important;
    color: var(--surface-strong) !important;
    font-weight: 550;
}


@media (max-width:1250px) {

    .nav-site.to-parent > a {
        width: min(100%, 160px);
    }
}

@media (max-width:700px) {

    .nav-site.to-parent > a {
        width: min(100%, 100px);
    }
}
