/* =========================================================
   0. 基本レイアウト
   ========================================================= */

textarea,
select:not([name="Results_Status"]),
input,
.ui-widget.ui-state-default.ui-multiselect {
    background: var(--surface-base) !important;
    border: 1px solid var(--border-strong) !important;
    border-radius: var(--radius-medium) !important;
    color: var(--text-main);
}

textarea:focus,
select:not([name="Results_Status"]):focus,
input:focus,
.ui-widget.ui-state-default.ui-multiselect:focus {
    border: 1px solid var(--primary-border) !important;
    background-color: var(--surface-base) !important;
    color: var(--text-main) !important;
}

.container-normal {
    min-height: 2rem !important;
}

[class^="control-"] {
    font-size: 0.85rem !important;
}

/* =========================================================
   1. テキストボックス
   ========================================================= */

.control-text {
	color: var(--text-main);
}

.control-text,
.control-basket {
    border-radius: 0;
}

.control-textbox,
.control-spinner,
.select-field .control-dropdown:has(+.current-user),
.select-field .control-dropdown:has(+.current-dept) {
    padding: 4px 4px 4px 8px;
}

.control-dropdown {
	border: 1px solid var(--border-strong);
}


/* =========================================================
   2. textarea
   ========================================================= */

textarea {
    field-sizing: content;
    resize: vertical;
    min-height: 4lh;
    max-height: 20lh;
    height: auto !important;
}


/* =========================================================
   3. Markdown
   ========================================================= */

markdown-field .md-viewer:not(.control-text) {
    background-color: var(--surface-base) !important;
}

markdown-field:not(.is-comment) .md-viewer:not(.not-send) {
    background-color: var(--surface-base) !important;
    border: 1px solid var(--border-strong) !important;
    padding: 8px 32px 8px 8px;
}

markdown-field .bottom-tools {
    margin-top: 0.3rem;
}

markdown-field .md-btn-icon {
    color: var(--icon-color);
}

markdown-field .md-btn.is-editor {
    right: 15px;
}

markdown-field.is-comment .md-viewer {
    border: none !important;
	background-color: transparent !important;
}

markdown-field .md-viewer {
    color: var(--text-main);
    line-height: 1.55;
    letter-spacing: 0.2px;
}

markdown-field .notes {
    padding: 2px 0;
}


/* =========================================================
   4. リッチエディタ
   ========================================================= */

rt-editor {
    color: var(--text-main);
    background-color: var(--surface-base);
}

rt-editor .se-toolbar {
    background-color: var(--bg-toolbar) !important;
    border-bottom: 1px solid var(--border-strong) !important;
    padding: 4px !important;
}

rt-editor .toggle:after {
    background-color: var(--bg-toolbar) !important;
}

rt-editor .se-btn-module-border:has(.btn-editable-cmd) .btn-editable-cmd {
    color: var(--surface-base) !important;
}

rt-editor .se-btn-tray {
    gap: 4px !important;
}

rt-editor button:not([disabled="true"]) {
	color: var(--text-main) !important;
	font-weight: 450;
}

rt-editor .se-btn:enabled:active,
rt-editor .se-btn:enabled:focus,
rt-editor .se-btn:enabled:hover {
	background-color: var(--surface-strong);
	border: none;
}

rt-editor .se-btn-tray .se-btn-module:not(:has(.btn-editable-cmd)) {
    flex: 1;
	width: fit-content;
    max-width: fit-content;
    min-width: max-content;
    background-color: var(--surface-base) !important;
    border: 1px solid var(--border-normal);
}

rt-editor .se-btn-list,
rt-editor .se-btn:not(.se-btn-select):not(.btn-editable-cmd) {
	width: min-content;
    padding: 0 0.4rem !important;
}

rt-editor .se-tooltip .se-tooltip-inner {
    width: 0;
}

rt-editor .se-btn-select {
	margin: 0 !important;
}

rt-editor .se-btn-select > svg {
    margin: 8px 0 3px 10px;
}

.sun-editor-editable {
	background-color: var(--surface-base) !important;
}


/* =========================================================
   5. セレクトボックス
   ========================================================= */
.select-field:not(:has(div.ui-icon-person)) .control-dropdown {
    padding: 3px 4px 4px 5px !important;
}

/* =========================================================
   6. チェックボックス
   ========================================================= */
.container-normal:has(.check-option) {
    align-content: center;;
}

.check-option {
    gap: 0.8rem !important;
    margin: 0;
    align-items: center;
}

.check-option .check-icon {
    background-color: var(--surface-base);
    border: 1px solid var(--border-strong) !important;
    border-radius: var(--radius-medium) !important;
}

.check-option .check-icon:before {
    color: var(--surface-base) !important;
}

.check-option .check-icon:has(input:checked) {
    background-color: var(--primary);
}

.check-option .check-icon:has(input:disabled):has(input:checked) {
    background-color: var(--text-disabled);
    border: 1px solid var(--border-strong);
}

.field-control .control-markdown {
    min-width: 80px;
    border: 1px solid var(--border-strong);
}

/* =========================================================
   7. スピナー
   ========================================================= */

.spinner-field .ui-spinner .ui-button {
    position: absolute !important;
    background-color: var(--surface-base);
    border-left: 1px solid var(--border-light);
}

.spinner-field:has(.with-unit) .unit {
    padding-left: 5px;
}

/* =========================================================
   8. カレンダー
   ========================================================= */

.current-date {
    right: 2%;
	user-select: none;
}

.current-date .material-symbols-sharp {
    color: var(--icon-color) !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year,
span.flatpickr-weekday {
    color: var(--on-primary);
    background: transparent !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    color: var(--on-primary) !important;
    fill: var(--on-primary) !important;
    line-height: 1.4;
}

.flatpickr-day.selected {
    color: var(--on-primary);
    background: var(--primary);
    border-color: var(--primary);
}

.flatpickr-day.selected:hover,
.flatpickr-day.selected:focus {
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}

.flatpickr-months .flatpickr-month,
.flatpickr-weekdays {
    background: var(--primary);
    border-color: var(--primary);
}

.flatpickr-day {
    color: var(--text-main);
}

.flatpickr-day.today {
    border-color: var(--cal-other-bg);
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    background: var(--cal-other-bg);
    border-color: var(--cal-other-bg);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    color: var(--text-other-month);
}


/* =========================================================
   9. Readonly
   ========================================================= */

.container-normal:has(span[data-readonly="1"]),
.readonly-style {
    padding: 0.3rem 0.55rem !important;
    background: var(--bg-main) !important;
    color: var(--readonly-value) !important;
    border: 1px solid var(--border-strong) !important;
    border-radius: var(--radius-medium) !important;
    pointer-events: none;
    user-select: text;
}

.container-normal span[data-readonly="1"] {
    background: transparent !important;
    border: none !important;
    min-height: fit-content;
    height: fit-content;
    line-height: 1.4;
}

.container-normal span[data-readonly="1"]:not(:empty) {
    padding: 0 !important;
}
