/* =========================================================
   ヘッダー
   ========================================================= */

#Header {
    padding: 2px 12px;
    background-color: var(--surface-soft) !important;
    border-bottom: 1px solid var(--border-light);
    font-size: 0.9rem;
    color: var(--text-emphasis) !important;
    box-shadow: var(--elevation-1);
}

#Header #ViewSelector label {
    user-select: none;
}

#Header #ViewSelectorField .field-normal .control-dropdown {
    width: auto;
    min-width: 100px;
    max-width: 200px;
    padding: 2px 4px !important;
    height: auto;
    font-size: 0.83rem !important;
}


/* =========================================================
   ハンバーガーメニュー
   ========================================================= */

#Header .hamburger-switch {
    background-color: transparent !important;
}

#Header .hamburger-switch .hamburger-switch-line,
#Header .hamburger-switch .hamburger-switch-line:before,
#Header .hamburger-switch .hamburger-switch-line:after {
    background: var(--text-emphasis);
}

#Header .hamburger-menubox .hamburger-cover {
    background: var(--bg-hamburger-outer) !important;
}

#Header .hamburger-menubox .hamburger-menuwrap {
    background-color: var(--surface-base) !important;
    box-shadow: 2px 0 2px var(--shadow-medium);
}

#Header .hamburger-menubox .accordion a img.new {
    background-color: var(--primary);
}

#Header .hamburger-menubox #NewMenuContainer span:has(img) {
    margin: auto 0;
    height: 32px;
}

#Header .hamburger-menubox #NewMenuContainer span:last-child {
    font-size: 1rem;
    margin-left: 0.3rem;
}

#Header .hamburger-menubox .menubox a {
    color: var(--text-main);
    user-select: none;
}

#Header .hamburger-menubox .menubox .menulabel span:last-child {
    font-size: 0.94rem;
    user-select: none;
}

#Header .hamburger-menubox .menubox .menulabel:hover,
#Header .hamburger-menubox .accordion a:hover {
    background-color: var(--surface-base-hover);
}

#Header .hamburger-menubox .menubox-sub {
    background-color: var(--surface-strong);
    font-size: 0.85rem;
}

#Header .hamburger-menubox .menubox-sub ul a {
    padding: 0.65rem 0.5rem 0.65rem 3.3rem;
}

#Header .hamburger-menubox .menubox-sub ul a:hover {
    background: var(--surface-strong-hover);
}


/* =========================================================
   パンくずリスト
   ========================================================= */

#CopyToClipboards {
    top: initial;
    z-index: 95;
}

#CopyToClipboards #CopyDirectUrlToClipboard {
    background-color: transparent !important;
    border: none !important;
    height: 40px !important;
}

#Breadcrumb {
    background-color: var(--surface-soft) !important;
    border-bottom: 1px solid var(--border-light) !important;
    box-shadow: none !important;
}

#Breadcrumb span.label {
    font-size: 0.8rem;
    font-weight: 550;
    white-space: pre;
    line-height: 1.4;
    color: var(--text-sub);
}

#Breadcrumb li:first-child a {
    padding-left: 42px !important;
}

#Breadcrumb li:not(:last-child) a:hover {
    text-decoration-color: var(--icon-color);
}

#Breadcrumb li:last-child {
    background-color: var(--primary) !important;
}

#Breadcrumb li:last-child a span,
#Breadcrumb .item:last-child:is(.trashbox) span {
    color: var(--text-on-primary);
    text-shadow: var(--elevation-1);
	font-weight: 550;
    user-select: none;
}

/* セパレーター（三角形） */
#Breadcrumb li:is(.trashbox) span:before,
#Breadcrumb li .separator:before {
    border-left: 15px solid var(--border-nav) !important;
}

#Breadcrumb li:is(.trashbox) span:after,
#Breadcrumb li .separator:after {
    border-left: 15px solid var(--surface-soft) !important;
}

#Breadcrumb li:last-child:is(.trashbox) span:after,
#Breadcrumb li:last-child .separator:after {
    border-left: 15px solid var(--primary) !important;
}

#Breadcrumb .item a {
    padding: 0 1.1rem !important;
    user-select: none;
}
