/* =========================================================
   テナント管理画面スタイル
   Pleasanterのテナント設定「スタイル」欄にインライン（<style>直書き）で貼る。
   ========================================================= */

@import "https://cdn.jsdelivr.net/gh/tomofuji-natsumi/pleasanter-resources@js_fix/css/definition.css";
@import "https://cdn.jsdelivr.net/gh/tomofuji-natsumi/pleasanter-resources@js_fix/css/custom_common.css";

#Encoding,
#ExportEncoding {
    visibility: hidden;
}

#Editor #GroupForm:after,
#Editor #MainForm:after {
    width: 60%;
}

body:not(:has(#TemplateTabsContainer:not(:empty))) #MainCommandsContainer {
    bottom: 0;
}

/* TemplateTabsContainer が存在しない or 空の場合 → 非表示 */
body:not(:has(#TemplateTabsContainer:not(:empty))) #MainCommandsContainer {
    display: none !important;
}

html,
body {
    background-color: var(--bg-dashboard) !important;
}