/* =========================================================
   読取専用（編集画面）
   ========================================================= */

body.readonly-mode {

    /* -----------------------------------------------------
       0. 基本レイアウト
       ----------------------------------------------------- */

    .container-normal {
	    margin-left: 0 !important;
	}

    .field-control {
        float: left;
		margin-left: 120px;
    }

    .container-normal:not(:has(~ .readonly-value)):not(:has(.check-option)):not(:has(.control-attachments-item)),
    .readonly-value {
        padding: 0.3rem 0.6rem !important;
        background: var(--bg-main-dark) !important;
        color: var(--text-sub) !important;
        border: 1px solid var(--border-strong) !important;
        border-radius: var(--radius-medium) !important;
        pointer-events: none;
        user-select: text;
    }

    .container-normal:has(.control-text[data-readonly="1"]) ,
    .readonly-value {
        min-height: 2rem !important;
    }
    
    .required::before,
    .container-normal:has(~ .readonly-value),
	.ui-spinner .ui-spinner-button,
    .se-toolbar,
    .se-placeholder,
    .se-resizing-bar,
    .control-attachments-item .ui-icon-circle-close,
    #EditorComments::before {
		display: none !important;
    }
    
    .field-normal,
    .field-wide,
    .field-markdown {
        display: flex;
    }

    .field-label {
        flex-shrink: 0;
        color: var(--text-sub) !important;
        user-select: none;
        pointer-events: none;
    }

    .field-label label {
        font-weight: 600;
    }

    #FieldSetGeneral input {
        background-color: transparent !important;
        border: none !important;
        padding: 0 !important;
        height: fit-content;
    }

    .field-markdown .readonly-value {
        min-height: auto;
        max-height: none;
    }

    
    /* -----------------------------------------------------
       1. エディター
       ----------------------------------------------------- */
    .sun-editor {
        border: 0;
    }

    .sun-editor-editable {
        background-color: var(--bg-main);
        padding: 0;
    }


    /* -----------------------------------------------------
       2. チェックボックス
       ----------------------------------------------------- */
    .check-option,
    .check-icon {
        cursor: default;
    }

    .check-icon {
        background: var(--bg-main);
    }

    
    /* -----------------------------------------------------
       3. 添付ファイル
       ----------------------------------------------------- */

    .control-attachments-items {
		margin: 0;
	}

    .control-attachments-item {
        background: var(--bg-main);
        border: 1px solid var(--border-strong);
        border-radius: var(--radius-medium) !important;
        padding: 8px 12px;
    }

	.container-normal:has(.control-attachments[value="[]"]) {
		width: 100%;
	}
}
