/* =========================================================
    4. カード
    ========================================================= */
.nav-site {
    padding: 12px;
    min-height: 160px;
    border-radius: 8px;
    background: var(--surface-base);
    box-shadow: 0 2px 4px rgba(0,0,0,.01);
    transition: transform .12s ease, box-shadow .12s ease;
    filter: drop-shadow(0 2px 4px var(--shadow-strong));
}

.nav-site:hover {
    transform: translateY(-2px);
    filter: drop-shadow(0 4px 8px var(--shadow-strong));
}

.nav-site > a {
    padding: 0;
}

.nav-site .site-icon {
    margin-top: 15px;
}

.nav-site .site-icon img {
    height: auto;
}

.nav-site .conditions {
    padding: 6px;
}

.nav-site .title {
    font-size: 0.83rem;
    font-weight: 550;
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    color: var(--primary);
}

.nav-site .elapsed-time {
    font-size: 0.75rem;
    color: var(--text-main);
}

.nav-site .count {
    font-size: 0.75rem;
    background-color: var(--bg-count);
    border: 1px solid var(--border-count);
    color: var(--text-main);
}

.nav-site.to-parent:has(.primary-material-icons) a span {
    left: 0.75rem;
}

.nav-site.to-parent:has(.primary-material-icons),
.nav-site.to-parent:has(.primary-material-icons):focus,
.nav-site.to-parent:has(.primary-material-icons) a span,
.nav-site.to-parent:has(.primary-material-icons):focus  a span {
    background: var(--primary) !important;
    color: var(--on-primary) !important;
    font-weight: 550;
}

.nav-site.to-parent:has(.primary-material-icons):hover,
.nav-site.to-parent:has(.primary-material-icons):hover a span,
.nav-site.to-parent:has(.primary-material-icons):active,
.nav-site.to-parent:has(.primary-material-icons):active a span {
    background: var(--primary-hover) !important;
    color: var(--surface-strong) !important;
    font-weight: 550;
}


    @media (max-width:1250px) {

        #SiteMenu nav:nth-of-type(2) .nav-sites.sortable {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)) !important;
            gap: 10px !important;
        }

        .account-name { font-size: 95%; }
    }

    @media (max-width:1000px) {

        #SiteMenu nav:nth-of-type(2) .nav-sites.sortable {
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            gap: 10px;
        }
    }

    @media (max-width:700px) {

        #SiteMenu {
            padding: calc(40px * .4) 18px;
        }

        #SiteMenu nav:nth-of-type(2) .nav-sites.sortable {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 8px;
        }

        #SiteMenu .nav-site {
            padding: 8px;
            min-height: 140px;
        }

        #Breadcrumb .item:not(:first-child) a {
            padding: 0 15px !important;
        }
    }
