body:not(.site-list) {

    #TemplateTabsContainer {
        font-size: 0.85rem;
        margin: 0;
        width: 100%;
    }

    #PreviewTemplate div ol li {
        padding: 3px 8px 4px 8px;
        margin-bottom: 5px;
    }

    #TemplateTabsContainer .template {
        background-color: var(--surface-base);
    }

    #TemplateTabsContainer .template-viewer {
        background-color: var(--bg-main);
        border: 1px solid var(--border-strong);
    }

    #TemplateTabsContainer .template-viewer .description,
    #TemplateTabsContainer .template-viewer .samples-displayed {
        padding: 0.7rem 1rem;
        border-bottom: 1px solid var(--border-strong);
    }

    #TemplateTabsContainer .template-viewer .description {
        color: var(--text-emphasis);
        background: var(--bg-guide);
    }

    #TemplateTabsContainer .template-viewer .description:has(+.viewer:empty) {
        border-bottom: 1px solid var(--border-strong);
    }

    #TemplateTabsContainer .template-viewer .samples-displayed {
        background: var(--semantic-danger-light);
        color: var(--semantic-danger);
    }

    #TemplateTabsContainer .template-viewer .template-tab-container {
        padding: 0;
        min-height: fit-content;
    }

    .template-selectable .command-left {
        height: auto;
    }

    [aria-describedby="ImportUserTemplateDialog"] .field-wide > .field-label {
        white-space: nowrap;
        width: 9rem;
        margin-right: -9rem;
    }

    [aria-describedby="ImportUserTemplateDialog"] :not(td)>div.field-wide .container-normal {
        margin-left: 9.2rem;
    }
}
